.profil {
    
    
}

.flexprofil {
    
}

.imgProfil {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.imgcroper {
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
}

.name {
    display: block;
    padding-top:35px;
    margin-left: 10px;
}





