.comment{
    margin-top: 10px;
    padding: 2px;
    margin-left: 10px;
    display: block;
    background-color:rgb(243, 241, 241);
    padding-left: 10px;
}

.auth{
    margin-bottom: -0.5px; 
}
.date {
    font-size: 12px;
    
    float: right;

}